@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
  /*Font Family Import*/
  @import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

  /* Common Code Start */
  *{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
  }
  a{
    display: inline-block;
    text-decoration: none;
  }
  ol,ul{
    list-style-type: none;
  }
  /* Common Code End */
}


:root{
  /* color Code Remaim */
  --red_color: #DB4444;
  --black_color: #000000;
  --white_color: #ffffff;
  --gray_white_color: #F5F5F5;
  --creamy_white_color: #FEFAF1;
  --text_white_gray: #FAFAFA;
  --text_black_color: #000000;
  --text_black_gray: #7D8184;
  --button_black_color: #000000;
  --button_green_color: #00FF66;
  --button_red_color: #DB4444;
  --hover_pink_color: #E07575;
  --hover_blue_color: #A0BCE0;

  /* Font Family */
  --inter: "Inter", sans-serif;
  --poppins: "Poppins", sans-serif;
}

@layer components{
  .textOne{
    font-size: 16px;
    font-weight: 400;
    font-family: var(--poppins);
    font-style: normal;
    line-height: 24px;
    text-align: center;
    cursor: pointer;
    color: var(--black_color);
  }
}

@layer utilities {
  /* Navbar Code Start */
  .menuUnderLine{
    position: relative;
  }
  .menuUnderLine::after{
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
    height: 1px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    transform: scale(0);
    transition: all linear 0.3s;
  }
  .menuUnderLine:hover::after{
    transform: scale(1);
  }
  .addCardItem{
    position: relative;
  }
  .addCardItem::after{
    position: absolute;
    width: 16px;
    height: 16px;
    line-height: 16px;
    background-color: var(--red_color);
    content: "0";
    top: -6px;
    right: -6px;
    border-radius: 100%;
    color: #ffffff;
    font-size: 12px;
    text-align: center;
  }
  /* Navbar Code End */
}